<header>
  <a href="#" class="header-left">VLog app</a>
  <ul class="header-right">
    <li class="header-list"><a href="#" class="about">about</a></li>
    <li class="header-list"><a href="#" class="sign">sign up</a></li>
    <li class="header-list"><a href="#" class="sign">sign in</a></li>
  </ul>
</header>
<div style="background-image:url(/images/happy.png)" class="main">
  <div class="main-wrapper">
    <h1 class="main-title">You Only<br>
        Live Once.</h1>
    <a href="#" class="start">VLogを始める→</a>
  </div>
</div>