<div style="background-image:url(/images/happy.png)" class="main">
  <div class="main-wrapper">
    <h1 class="main-title">You Only<br>
        Live Once.</h1>
    <a href="#" class="start">VLogを始める→</a>
  </div>
</div>