<div style="background-image:url(/images/happy.png)" class="main">
  <div class="main-wrapper">
    <h1 class="main-title">You Only<br>
        Live Once.</h1>
    <%= link_to 'VLogを始める→', new_user_registration_path, class: "start" %>
  </div>
</div>