<div class="contents">
  <div class="post-contents-wrapper">
    <% if @post.video.attached? %>
      <div class="post-title"><%= @post.title %></div>
      <video src="<%= rails_blob_path(@post.video) %>" type="video/mp4" controls preload="metadata" playsinline class="post-video">
      </video>
    <% end %>
  </div>
</div>