<div class="post-form-wrapper">
  <% if @post.video.attached? %>
    <p><%= @post.title %></p> <br>
    <video src="<%= rails_blob_path(@post.video) %>" type="video/mp4" controls height="300px" width="500px"></video>
  <% end %>
</div>