/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  box-sizing: border-box;
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 60px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Anton', sans-serif;
  background-color: rgba(51,51,51,0.8);
  border: none;
}

.header-left {
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  color: aliceblue;
  letter-spacing: 2px;
}

.header-right {
  letter-spacing: 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-list {
  margin-right: 18px;
}

.about {
  display: inline-block;
  text-decoration: none;
  color: aliceblue;
}

.sign {
  display: inline-block;
  text-decoration: none;
  color: aliceblue;
}

.main {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-wrapper {
  position: absolute;
  top: 40%;
  right: 12%;
}

.main-title {
  font-family: 'Anton', sans-serif;
  color: aliceblue;
  font-size: 70px;
  letter-spacing: 3px;
}

.start {
  background-color: rgba(55, 127, 26,0.8);
  display: inline-block;
  margin-top: 30px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 16px;
  padding: 2px 5px;
  color: aliceblue;
  letter-spacing: 2px;
}

/* user form */
.users_form {
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
}

.form-wrapper {
  width: 50%;
  height: 50%;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.users-form-title {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-title {
  font-size: 40px;
  border-bottom: 2px solid yellow;
  font-family: 'Anton', sans-serif;
}

.user-input-wrapper {
  width: 50%;
  height: 100%;
  padding: 30px 0;
}

.session {
  width: 50%;
  height: 100%;
  padding: 15% 0;
}

.field {
  margin-bottom: 10px;
}

.label-title {
  font-size: 18px;
  font-style: oblique;
}

.user-input-field {
  padding: 0 4px;
  outline: 0;
}

.user-links {
  width: auto;
  margin-top: 20px;
  display: flex;
}

.link-to-session {
  margin-left: 8%;
  text-decoration: none;
  color: #0000aa;
  font-style: oblique;
}

.error-messages-container {
  width: auto;
  font-size: 14px;
  position: absolute;
  top: 80px;
  color: red;
}

/*投稿一覧ページ*/
.main-container {
  width: auto;
  height: 100vh;
  padding: 80px 0;
}

.index-upper-contents {
  height: 40px;
  line-height: 40px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.index-wrapper {
  width: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}

.index-title {
  color: #333333;
  font-size: 30px;
  margin-right: 30px;
  font-family: 'Anton', sans-serif;
  letter-spacing: 3px;
}

.link_to_new {
  text-decoration: none;
  color: #ff6600;
  font-size: 16px;
}

/*新規投稿ページ*/
.post-form-wrapper {
  width: auto;
  height: 100vh;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  text-align: center;
  width: 50%;
  height: 80%;
  padding-top: 100px;
  background-color: white;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.post-title-form {
  font-size: 24px;
  font-family: 'Anton', sans-serif;
}

.title-input {
  font-family: serif;
  width: 70%;
  margin-top: 5px;
  outline: none;
  padding: 4px;
}

.form-video {
  margin-top: 50px;
  font-size: 24px;
  font-family: 'Anton', sans-serif;
}

.file-text {
  font-size: 12px;
  background-color: red;
  color: white;
  font-family: monospace;
  border: none;
  padding: 2px 4px;
  margin-left: 15px;
}

.video-file {
  margin-top: 5px;
  outline: none;
  cursor: pointer;
}

.review-video video {
  width: 300px;
  margin-top: 15px;
}

.submit-post {
  margin-top: 40px;
}

.submit-btn {
  display: inline-block;
  width: 30%;
  padding: 5px;
  border-radius: 24px;
  background-color: rgba(55, 127, 26,0.8);
  font-family: 'Anton', sans-serif;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}


/*投稿詳細ページ*/
.contents {
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-contents-wrapper {
  border: none;
  text-align: center;
  padding-top: 15px;
  height: 80%;
  width: 60%;
}

.post-title {
  font-size: 28px;
  font-family: serif;
  color: #333333;
  margin-bottom: 15px;
}

.post-video {
  width: 100%;
  outline: 0;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
  border: none;
}

.upper-contents {
  width: 100%;
  padding: 0 10px 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-to-show {
  text-decoration: none;
  color: #333333;
  font-size: 24px;
  font-family: serif;
}

.user-nickname {
  text-decoration: none;
  color: #555555;
  font-family: serif;
}

.posts-index {
  width: 30%;
  margin: 15px;
}

.bottom-contents {
  margin-top: 40px;
  width: auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-destroy {
  display: inline-block;
  text-decoration: none;
  color: #222;
  font-size: 20px;
  font-family: serif;
  margin-right: 20px;
}

.link-to-root {
  display: inline-block;
  text-decoration: none;
  color: #222;
  font-size: 20px;
  font-family: serif;
}

.link-to-root:hover {
  color: blue;
}
